{% extends 'base.html' %}

{% block content %}


<div style="text-align: center; margin-top: 10px"><p><b>Online Solution CSC Center</b></br><br>We are providing various essential online services with minimal charges.<br>Below services are offered by us currently: <br> <b><br>Voter ID/PAN Card corrections, Ration Card new name addition, Various Colleges/School online form fill-up, Scholarship Forms, Bill Payments, Recharges, Railway/Air Tickets etc. </b><br></p><br>
</div>

<div style="height: 650px; width: 800px; margin-left: 100px"><img src="../static/online_solution.jpg"></div>

{% endblock %}