{% extends 'base.html' %}

{% block content %}

<div class="container" >
  	<div class="header">
  		<h3>Your Query</h3>
 	</div>
	<form method="post" action="send_mail.php">
	    <div class="input-group"><input type="text" id="name" placeholder="Name:" style="padding: 5px 8px;" name="first_name" required><br></div>
      <div class="input-group"><input type="email" id="email" placeholder="Mobile No:" style="padding: 5px 8px;" name="email_address"><br></div>
	    <div class="input-group"><textarea name="comments" id="comments" placeholder="Your Query" style="padding: 5px 8px;" maxlength="500"></textarea><br></div>
	    <div class="input-group"><button style="cursor: pointer; background: black; color: white; font-family: inherit;"> Submit</button>
	    <button onclick="reset()" style="cursor: pointer; background: black; color: white; font-family: inherit;"> Reset</button></div>
	</form>
</div>

<script>
	function reset(){
		document.getElementById('name').value = '';
		document.getElementById('email').value = '';
		document.getElementById('comments').value = '';
	}
	</script>

{% endblock %}