{% extends 'base.html' %}

{% block content %}

<div class="container" >
  	<div class="header">
    {% comment %} <br>
  		<h3>Our Contacts:</h3></br> {% endcomment %}
 	</div>
   <br>
   <div>
   <p><b>Online Solution CSC Center</p></b><br>
   <p>Near Gaya Bridge, Eidgah Road<br>
      Naya Bazar, Dhanbad</p>
    <p>Mobile: (+91)-8340847484 / (+91)-8409208908</p><br>
    <p><a href="https://goo.gl/maps/cRkdkg7ChYud8ctb7" target="_blank">Locate us in Google map </a></p><br>
    <p>We are at walking distance from Dhanbad Railway Station</p><br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d1825.353030061885!2d86.42552720805287!3d23.79347930037979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!3e3!4m4!1s0x39f6bd0bf5b937d7%3A0x6beeefef526dffbe!3m2!1d23.7926041!2d86.4286595!4m5!1s0x39f6bd0020975747%3A0x4ee747a6e19b7543!2sOnline%20Solution%20CSC%20Center%2C%20near%2C%20Eidgah%20Masjid%20Road%2C%20Gaya%20Bridge%2C%20Naya%20Bazar%2C%20Pandey%20Muhalla%2C%20Dhanbad%2C%20Jharkhand!3m2!1d23.7935496!2d86.424555!5e0!3m2!1sen!2sin!4v1640801173951!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

   </div>

	{% comment %} <form method="post" action="send_mail.php">
	    <div class="input-group"><input type="text" id="name" placeholder="Name:" style="padding: 5px 8px;" name="first_name" required><br></div>
      <div class="input-group"><input type="email" id="email" placeholder="Mobile No:" style="padding: 5px 8px;" name="email_address"><br></div>
	    <div class="input-group"><textarea name="comments" id="comments" placeholder="Your Query" style="padding: 5px 8px;" maxlength="500"></textarea><br></div>
	    <div class="input-group"><button style="cursor: pointer; background: black; color: white; font-family: inherit;"> Submit</button>
	    <button onclick="reset()" style="cursor: pointer; background: black; color: white; font-family: inherit;"> Reset</button></div>
	</form> {% endcomment %}
</div>


{% endblock %}